* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #e9f4f8;
}
#navbar {
  border-color: #71bed55b;
  height: 250px;
}
nav {
  display: flex;
  justify-content: space-around;
}
#nav_content {
  width: 35%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
#nav_content > a {
  color: black;
  text-decoration: none;
}
/* ===================Header-Upper-Code===================== */
main {
  width: 80%;
  margin: auto;
}
#sec1 {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  row-gap: 30px;
  column-gap: 20px;
  justify-content: space-evenly;
  text-align: center;
  /* border: 2px solid red;   */
}
#sec1 img {
  width: 100%;
}
#sec1 > div {
  /* align-items: flex-start; */
  /* border: 2px solid red; */
}
#sec1 > div:nth-child(1) {
  /* border:2px solid red; */
}
#sec0>h1{
    padding-left: 30px;
    font-size: xx-large;
    text-decoration: underline;
}
/* ================1st-section-upper-code================ */

#sec2 {
  display: flex;
  /* border: 2px solid red; */
  padding: 30px;
  gap: 60px;
  /* border: 2px solid red; */
}
#leftgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  border: 30px solid #71bdd5;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
  /* gap: 5px; */
}
#leftgrid > img {
  width: 150px;
  border: 5px solid white;
}
#rightgrid {
  margin: auto;
}
#rightgrid > h1 {
    padding-bottom: 10px;
    font-size:xx-large;
}
#rightgrid > p {
    text-align:center;
}
/* ================2nd-section-upper-code================ */

/* ================3rd-section-upper-code================ */

#sec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #bbc3c6;
    height: 250px;
    padding-top: 40px;
    margin: 50px 0px 100px 0px;
}
#sec4 > button {
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100px;
    margin: auto;
    font-weight: 600;
}
#sec4 > h1 {
    text-decoration: underline;
    color: rgb(255, 254, 254);
    /* padding-bottom: 5px; */
}
#sec4 > img {
    margin: auto;
    width: 100px;
}
/* ================-4thsection-upper-code================ */

/* ==================Footer-upper-code================ */
