* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  
  @media all and (min-width:320px)and (max-width:768px) {
     .all_link>a{
          display: none;
     }
   
  }
  @media all and (min-width:768px)and (max-width:1024px) {
    .all_link>a{
         display: none;
    }
  }
  .nav{
    display: flex;  
    width: 100%;
    height: 60px;
    justify-content:space-between;
    align-items: center;
      padding-left: 40px;
      padding-right: 80px;
      background-color:#368BC1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    } 
    #logo>h1:hover{
      color: white;
    }
    #logo>h1{
     font-size: 21px;
     font-family: Arial, Helvetica, sans-serif;
     
    }
    #logo>img{
      width: 30%;
      border-radius: 50%;
      height: 50px;
    }
    #logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 12%;
    height: 60px;
  
    }
    .all_link{
     
      display: flex;  
      justify-content:space-between;
      align-items: center;
      
      width: 44%;
      height: 40px;
     
    }
    .all_link>a{
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* color: black; */
        font-weight: 600;
      color: white;
      }
      .all_link>div{
       
        width: 20%;
        height: 40px;
      }
      .all_link>div>img{
        width: 100%;
      }
      .all_link>a:hover{
       text-decoration: underline;
       color: black;
      }
    
    
      .login_Container{
      
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 16%;
        height: 40px;
      
        }
        .log_in:hover{
          background-color: royalblue;
          color: red;
        }
        .log_in{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 30px;
          color: blue;
          background-color:lavender;
          border-radius: 50px;
        }
        .sign_up:hover{
          background-color: whitesmoke;
          color: black;
        }
        .sign_up{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90px;
          height: 30px;
          color: white;
          background-color:blue;
          border-radius: 50px;
        }
        

        body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
 
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #368BC1;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #368BC1);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #368BC1;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #368BC1;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #368BC1;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #368BC1;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, skyblue, #368BC1);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #368BC1;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}


@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  
  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }


  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

        .footer{
            display: flex;
            background-color: skyblue;
            width: 100%;
            height: 330px;
            font-size: 15px;
            font-family: sans-serif;
            align-items: center;
            justify-content: center;
           }
           .footer>div:nth-child(1){
           
            width: 17%;
            height: 270px;
            
           }
           .footer>div:nth-child(2){
           
            width: 12%;
            height: 240px;
            
           }
           .footer>div:nth-child(3){
            
            width: 12%;
            height: 240px;
            
           }
           .footer>div:nth-child(4){
           
            width: 24%;
            height: 270px;
            
           }
           .footer>div:nth-child(1)>div>img{
                width: 43%;
                height: 80px;
                border-radius: 50%;
           }
           
           .footer>div:nth-child(4)>div{
            width: 44%;
            height: 70px;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
           }
           
           .footer>div:nth-child(4)>p{
            font-family:Arial, Helvetica, sans-serif;
            font-size: 24px;
           }
           .footer>div:nth-child(1)>div{
          width: 70%;
          height: 100px;
          
          display: flex;
          justify-content: space-between;
          
           }
           .footer>div:nth-child(1)>div>p{
            font-weight: 800px;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 21px;
           }
           #get{
            font-size: 24px;
           }
           .footer>div:nth-child(4) input{
            border: none;
            width: 96%;
            height: 37px;
            font-size: 17px;
           }
           
           #pay{
            width: 76%;
           }
           #pay>img{
            width: 18%;
            
           }
           #visa{
            width: 14%;
            height: 22px;
           }
           #venmo{
            width: 14%;
            height: 24px;
           }