* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


@media all and (min-width:320px)and (max-width:768px) {
   .all_link>a{
        display: none;
   }
 
}
@media all and (min-width:768px)and (max-width:1024px) {
  .all_link>a{
       display: none;
  }
}
.nav{
  display: flex;  
  width: 100%;
  height: 60px;
  justify-content:space-between;
  align-items: center;
    padding-left: 40px;
    padding-right: 80px;
    background-color:#368BC1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } 
  #logo>h1:hover{
    color: white;
  }
  #logo>h1{
   font-size: 21px;
   font-family: Arial, Helvetica, sans-serif;
   
  }
  #logo>img{
    width: 30%;
    border-radius: 50%;
    height: 50px;
  }
  #logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
  height: 60px;

  }
  .all_link{
   
    display: flex;  
    justify-content:space-between;
    align-items: center;
    
    width: 44%;
    height: 40px;
   
  }
  .all_link>a{
      text-decoration: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* color: black; */
      font-weight: 600;
    color: white;
    }
    .all_link>div{
     
      width: 20%;
      height: 40px;
    }
    .all_link>div>img{
      width: 100%;
    }
    .all_link>a:hover{
     text-decoration: underline;
     color: black;
    }
  
  
    .login_Container{
    
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      width: 16%;
      height: 40px;
    
      }
      .log_in:hover{
        background-color: royalblue;
        color: red;
      }
      .log_in{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        color: blue;
        background-color:lavender;
        border-radius: 50px;
      }
      .sign_up:hover{
        background-color: whitesmoke;
        color: black;
      }
      .sign_up{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 30px;
        color: white;
        background-color:blue;
        border-radius: 50px;
      }
      .slider{
        margin-top: 50px;
        position: relative;
        width: 100%;
        background: #2c3e50; /* darckblue */
      }
      .myslide{
        height: 500px;
        display: none;
        overflow: hidden;
      }
      
      .prev, .next{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 50px;
        padding: 15px;
        cursor: pointer;
        color: #fff;
        transition: 0.1s;
        user-select: none;
      }
      .prev:hover, .next:hover{
        color: #00a7ff; /* blue */
      }
      .next{
        right: 0;
      }
      .dotsbox{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 20px;
        cursor: pointer;
      }
      .dot{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
      }
     
      .active, .dot:hover{
        border-color: #00a7ff; /* blue */
      }
     
     .top{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      height: 500px;
      background-color: lightblue;
     } 
      .top>div:nth-child(1)>button{
      display: block;
      border-radius: 11px;
      border: none;
    
      width: 96px;
      height: 40px;
      margin-top: 30px;
      font-size: 16px;
      font-family: sans-serif;
      background-color: white;
     }
     .top>div:nth-child(1){
      width: 40%;
      height: 400px;
      
     }
     .top>div:nth-child(2)>img{
      border-radius: 8px;
      width: 90%;
     }
     .top>div:nth-child(1)>h1{
      font-family: sans-serif;
      font-size: 64px;
      color: white;
     }
     .top>div:nth-child(1)>h1>b{
      color: black;
     }
     .top>div:nth-child(1)>p{
      font-family: sans-serif;
      font-size: 14px;
       line-height: 20px;
      
     }
     .top>div:nth-child(2){
      width: 50%;
      height: 400px;
     
     }
     .three{
      width: 70%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 490px;
   
     
     }
     .three>div{
      width: 32%;
      padding-left: 20px;
      height: 280px;
      border: 2px solid skyblue;
      border-radius: 8px;
     }
     
     .life{
        font-family: sans-serif;
        font-size: 24px;
        color: black;
     }
     .para{
      font-family: sans-serif;
      font-size: 13px;
      color: black;
   }
   #lens{
      width: 30%;
   }
   .latest_News{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 700px;
      background-color: #F0FFFF;
     
   }
   .latest_News>div:nth-child(1){
      width: 20%;
      height: 200px;
    
   }
   .latest_News>div:nth-child(1)>h1{
    font-family: sans-serif;
    font-size: 41px;
    padding-left: 26px;
   }
   .latest_News>div:nth-child(1)>button{
      border: none;
      display: block;
      background-color:lightseagreen;
      border-radius: 12px;
      width: 96px;
      height: 37px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 18px;
      margin: auto;
   }
   .latest_News>div:nth-child(2){
     
      width: 50%;
      height: 690px;
    
   }
   .latest_News>div:nth-child(2)>div{
     display: flex;
     justify-content: space-between;
      width: 80%;
      height: 230px;
     
   }
   .latest_News>div:nth-child(2)>div>div:nth-child(1){
     
      width: 48%;
      height: 195px;
     
   }
   .latest_News>div:nth-child(2)>div>div>img{
     
      width: 100%;
      
      border-radius: 11px;
      
   }
   .latest_News>div:nth-child(2)>div>div:nth-child(2){
     
      width: 50%;
      height: 195px;
      
   }

   .latest_News>div:nth-child(2)>div>div:nth-child(2)>button{
    border: none;
    display: block;
    background-color:lightseagreen;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 96px;
    height: 37px;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
 }
 .latest_News>div:nth-child(2)>div>div:nth-child(2)>p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
#direction{
height:190px;
}

.about_school{
width: 100%;
height:395px;

}
.about_school>div{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height:310px;
margin-top: 100px;
background-color: skyblue;
}
.about_school>div>div:nth-child(1){
width: 18%;
height:250px;
}
.about_school>div>div:nth-child(1)>h1{
font-size: 36px;
font-family: sans-serif;
text-align: center;
color: white;
}
.about_school>div>div:nth-child(2){
width: 50%;
height:280px;
}
.about_school>div>div:nth-child(1)>button{
border: none;
display: block;
color: black;
border-radius: 12px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 96px;
height: 37px;
font-weight: 600;
font-size: 15px;
background-color: white;
margin: auto;

}
.about_school>div>div:nth-child(2)>p{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
font-size: 15px;
margin-bottom: 20px;
}

.career{
width: 100%;
height: 1580px;
background-color:#F0FFFF;
padding-top: 5px;
}
.career>div{
margin: auto;
width: 55%;
height: 350px;

display: flex;
justify-content: space-between;
}
.career>h1{
text-align: center;
font-size: 41px;
font-family: Arial, Helvetica, sans-serif;
}
.career>div>div{
border-radius: 14px;
width: 49%;
height: 280px;

border: 1px solid whitesmoke;
background-color:white;
}
.edu{
font-family: Arial, Helvetica, sans-serif;
font-weight: 800px;
font-size: 21px;

}
.career>div>div>p:nth-child(2){
font-family: sans-serif;
background-color: white;
font-size: 14px;
}
.career>div>div>button{
border: none;
display: block;
color: black;
border-radius: 12px;
font-family:sans-serif;
width: 105px;
height: 41px;
font-weight: 700;
font-size: 14px;
background-color:lightseagreen;
margin-left: 190px;
margin-top: 30px;

}
.career>div>div>h1{
font-family: sans-serif;
}
.career>div>div>p{
font-family: sans-serif;
font-size: 14px;
}
.career>div>div>img{
  width: 100%;
  border-radius: 8px;
}
#sc{
  width: 100%;
  height: 300px;
}
#director{
  background-color: white;
 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 12px;
}
#director>div:nth-child(1){
 width: 60%;
 height: 300px;
 margin-top: 20px;
border-radius: 0;
}
#director>div:nth-child(2){
  width: 38%;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 12px;
  
  
 }
 #pro{
  height:280px ;
 }

 .feedback{
  width: 100%;
  height: 500px;
 }
 .feedback>div{
  margin: auto;
  width: 60%;
  height: 300px;
  
  display: flex;
  justify-content: space-between;
 }
 .feedback>div>div{
   background-color:#F0FFFF;
   border-radius: 10px;
  width: 32%;
  height: 300px;
  border: 1px solid lightseagreen;
 }
 .feedback>h1{
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 41px;
 }
 .feed{
  width: 100%;
  height: 100px;
 
  display: flex;
 }
 .info{
  width: 100%;
  height: 200px;
  
 }
 .feed>img{
  width: 29%;
  margin-left: 10px;
  margin-top: 10px;
  
  height: 90px;
  border-radius: 50%;
 }
 .info>p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 10px;
 }
 .feed>p{
 padding-top: 14px;
  font-family:sans-serif;
  font-size: 15px;
  margin-left: 10px;
 }

 .footer{
  display: flex;
  background-color: skyblue;
  width: 100%;
  height: 330px;
  font-size: 15px;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
 }
 .footer>div:nth-child(1){
 
  width: 17%;
  height: 270px;
  
 }
 .footer>div:nth-child(2){
 
  width: 12%;
  height: 240px;
  
 }
 .footer>div:nth-child(3){
  
  width: 12%;
  height: 240px;
  
 }
 .footer>div:nth-child(4){
 
  width: 24%;
  height: 270px;
  
 }
 .footer>div:nth-child(1)>div>img{
      width: 43%;
      height: 80px;
      border-radius: 50%;
 }
 
 .footer>div:nth-child(4)>div{
  width: 44%;
  height: 70px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 
 .footer>div:nth-child(4)>p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
 }
 .footer>div:nth-child(1)>div{
width: 70%;
height: 100px;

display: flex;
justify-content: space-between;

 }
 .footer>div:nth-child(1)>div>p{
  font-weight: 800px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 21px;
 }
 #get{
  font-size: 24px;
 }
 .footer>div:nth-child(4) input{
  border: none;
  width: 96%;
  height: 37px;
  font-size: 17px;
 }
 
 #pay{
  width: 76%;
 }
 #pay>img{
  width: 18%;
  
 }
 #visa{
  width: 14%;
  height: 22px;
 }
 #venmo{
  width: 14%;
  height: 24px;
 }