.nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav>a{
    text-decoration: none;
    /* text-transform: uppercase; */
    color: rgba(0, 0, 0, 0.411);
    font-size: xx-large;
}

#product-container {
    /* border: 2px solid red; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    border-radius: 10px;
}

#product-container>div {
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}

#product-container>div>img {
    width: 100%;
    height: 200px;
}

#product-container>div>button {
    display: block;
    margin: auto;
    background-color: rgb(25, 210, 227);
    border: none;
    padding: 4px;
    border-radius: 5px;
    color: white;
}

#filter {
    display: block;
    margin: auto;
    padding: 6px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    text-align: center;
}
/* =========================== */
body{
    background-color: #d4d4d475;
}
#card{
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255);
    
}
#card>h2,h3,h4{
    text-align: center;
}
#search{
    text-align: center;
    width: 100%;
}
#searchbar{
    text-align: center;
    display: flex;
}
@media screen and (min-width:651px) and (max-width:1024px){
    body{
        background-color: rgba(255, 0, 0, 0.205);
    }
    #product-container {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    #search{
        height: 30px;
    }
    #product-container>div>button {
        background-color: rgba(255, 0, 0, 0.5);
        color: white;
    }
    #filter {
        color: pink;
    }
    .nav>h1{
        text-decoration: none;
        text-transform: uppercase;
        color:  rgb(255, 0, 0)
    }
    .nav>a{
        text-decoration: none;
        text-transform: uppercase;
        color:  rgba(255, 0, 0, 0.993)
    }
}
@media screen and (min-width:100px) and (max-width:650px){
    body{
        background-color: rgba(0, 26, 255, 0.219);
    }
    #product-container {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    #search{
        height: 50px;
    }
    #product-container>div>button {
        background-color: rgba(0, 26, 255, 0.411);
        color: white;
    }
    #filter {
        color: rgba(0, 26, 255, 0.411);
        height: 56px;
    }
    .nav>h1{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(0, 26, 255);
    }
    .nav>a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(0, 26, 255);
        font-size: xx-large;
    }
}